Nap.Html.Tests/Assets/TestClass.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="TestClass">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FirstName" type="xsd:string" />
        <xsd:element name="LastName" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>